* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    padding: 20px;
}

ul {
    list-style-type: none;
}

.list-elem {
    position: relative;
    border: 1px solid black;
    margin-bottom: 1px;
    max-width: 300px;
    padding:5px;
}

button {
    padding: 0 10px;
}

.item {
    background: #d6fcff;
    &--isChecked{
        background: greenyellow;
    }
}

.products {
    margin-left: 10px;
    color: darkslategray;

    button{
        margin-left: 5px;
    }
}
.del-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}